VITE_SUPABASE_URL=https://your-project-id.supabase.co
VITE_SUPABASE_ANON_KEY=your-supabase-anon-key
VITE_API_URL=http://172.16.20.97:8000
VITE_TEAM_2_ROADMAP_API_URL=http://172.16.20.97:8002
VITE_AI_TUTOR_URL=http://172.16.20.97:8003
VITE_ASSESMENT_API_URL=http://172.16.20.97:8001
VITE_USE_ANALYTICS_API_URL=http://172.16.20.97:8005